{
    "singleQuote": true,
    "semi": false,
    "trailingComma": "es5",
    "tabWidth": 2,
    "useTabs": false,
    "printWidth": 80,
    "bracketSpacing": true,
    "arrowParens": "always",
    "vueIndentScriptAndStyle": true,
    "endOfLine": "crlf",
    "htmlWhitespaceSensitivity": "ignore",
    "jsxBracketSameLine": false,
    "jsxSingleQuote": false,
    "quoteProps": "as-needed",
    "insertPragma": false,
    "requirePragma": false
}